  <div class="well sidebar-nav">
    <div class="page-header">
      <h1><%= @competition.name %></h1>
    </div>
    <h2><%= link_to 'Scoreboard', scoreboard_competition_path(@competition) %></h2>
    <h2><%= link_to 'Problem Stats', stats_competition_path(@competition) %></h2>
    <hr />
    <h2>Challenge List</h2>
    <ul class="nav nav-list">
      <% @competition.available_categories.each do |category| %>
        <li class="nav-header"><%= category.name %></li>
        <% category.available_problems.each do |problem| %>
          <li>
            <% if @user.problems and @user.problems.include? problem %>
              <% if problem.active %>
                <s><%= link_to "#{problem.title} [#{problem.points} pts]", [@competition, problem] %></s>
              <% else %>
                <s><%= link_to "#{problem.title} [#{problem.points} pts]", [@competition, problem], style:  'color:#C0C0C0;' %></s>
              <% end %>
            <% else %>
              <% if problem.active %>
                <%= link_to "#{problem.title} [#{problem.points} pts]", [@competition, problem] %>
              <% else %>
                <%= link_to "#{problem.title} [#{problem.points} pts]", [@competition, problem], style:  'color:#C0C0C0;' %>
              <% end %>
            <% end %>
          </li>
        <% end %>
        <hr />
      <% end %>
    </ul>
  </div>
