<%= form_for([:admin,@competition,@category, @problem]) do |f| %>
  <% if @problem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@problem.errors.count, "error") %> prohibited this problem from being saved:</h2>

      <ul>
      <% @problem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row-fluid">
    <div class="span12">
        <div class="field">
          <%= f.label :title %>
          <%= f.text_field :title %>
        </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span6">
        <div class="field">
          <%= f.label :points %>
          <%= f.number_field :points %>
        </div>
    </div>
    <div class="span6">
        <div class="field">
          <%= f.label :flag %>
          <%= f.text_field :flag %>
        </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
        <div class="field">
          <%= f.label :description %>
          <%= f.text_area :description, :class => "input-xxlarge" %>
        </div>
        <div class="field">
          <%= f.label :active %>
          <%= f.check_box :active %>
        </div>
        <div class="field">
          <%= f.label :hidden %>
          <%= f.check_box :hidden %>
        </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit nil, :class => 'btn' %>
  </div>
<% end %>
