<div class="page-header">
  <h1>Problem Description</h1>
</div>

<div class="well">
  <h3><%= @problem.title %> - <%= @problem.points %> points</h3>
  <hr />
  <h4>Description:</h4>
  <br />
  <p><%= simple_format @problem.description %></p>
</div>

<%= link_to 'Edit', [:edit, :admin, @competition, @category, @problem], :class => 'btn' %> 
<%= link_to 'Back', [:admin, @competition, @category, :problems], :class => 'btn' %>
