<div class="page-header">
  <h1>Category Details</h1>
</div>

<div class="well">
  <h3><%= @category.name %> - Part of <%= @category.competition.name %></h3>
</div>

<div class="well">
  <h3>Description</h3>
  <p><%= simple_format @category.description %></p>
  <h3>Problems</h3>
  <br />
  <% if @category.problems.length == 0 %>
    None
  <% else %>
    <ul>
      <% @category.problems.each do |problem| %>
        <li><%= problem.title %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<%= link_to 'Edit', [:edit, :admin, @category.competition, @category], :class => 'btn' %>
<%= link_to 'Back', admin_competition_categories_path(@competition), :class => 'btn' %>
