<p id="notice"><%= notice %></p>

<p>
  <b>Role:</b>
  <%= @user.role %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Description:</b>
  <%= @user.description %>
</p>


<%= link_to 'Edit', [:edit, :admin, @user] %> |
<%= link_to 'Back', admin_users_path %>
